/*
* {
    background-color: yellow;
}
*/

@font-face {
    font-family: 'RussoOne-Regular';
    src: url('fonts/RussoOne-Regular.ttf');
}

body {
    background-color: yellow;
    font-family: 'RussoOne-Regular';
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.header {
    width: auto;
    padding: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.brand {
    font-size: 5.2vh;
}

.reversed-text {
    height: 100%;
    color: yellow;
    background-color: black;
}

.phones {
    font-size: 2.6vh;
}

.work-list {
    list-style-type: square;
    font-size: 1.8vh;
}