/*
* {
    background-color: yellow;
}
*/

@font-face {
    font-family: 'ktf-jermilov';
    src: url('KTFJermilov-Solid.ttf');
}

body {
    margin: 0;
    display: flex;
    justify-content: space-between;    
}

.header {
    background-color: yellow;
    width: 100%;
    font-family: 'ktf-jermilov';
    padding: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.brand {
    font-size: 3.2vw;
}

.reversed-text {
    height: 100%;
    color: yellow;
    background-color: black;
}

.phones {
    font-size: 1.6vw;
}